@model IEnumerable<MyGym.Data.Entities.Grupo>
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/MainLayout.cshtml";   
}
<script src="~/Public/jquery.js"></script>
<script type="text/javascript">
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
    function SaveFood() {
        var json = $('#foodform').serializeObject();
        $.post('/Food/Create', { fooddata: JSON.stringify(json) }, function (res) {
            window.location.href = res.Url;
        });
    }
</script>
<form id="foodform" >
    <table>
        <tr>
            <td>Nombre: </td>
            <td>
                <input type="text" name="Nombre" />
            </td>
        </tr>
        <tr>
            <td>Calorias: </td>
            <td>
                <input type="text" name="Calorias" />
            </td>
        </tr>
        <tr>
            <td>Proteinas: </td>
            <td>
                <input type="text" name="Proteinas" />
            </td>
        </tr>
        <tr>
            <td>Grasas</td>
            <td>
                <input type="text" name="Grasas" />
            </td>
        </tr>
        <tr>
            <td>Hidratos de Carbono</td>
            <td>
                <input type="text" name="HidratosDeCarbono"  />
            </td>
        </tr>
        <tr>
            <td>Grupo</td>
            <td>
                <select name="GrupoID">
                    @foreach (var item in Model)
                    {
                        <option value="@item.GrupoID">@item.Nombre</option>
                    }
                </select>
            </td>
        </tr>    
        <tr>
            <td>
                <input type="button" name="name" value="Guardar" onclick="SaveFood()" />
            </td>
        </tr>
    </table>
</form>