@model IEnumerable<MyGym.Data.Entities.Alimento>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MainLayout.cshtml";   
}
<a href="/Food/Create">Nuevo Alimento</a>
<h1>Alimentos</h1>
<section>Cantidad : @Model.Count()</section>
<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <span class="badge">
                <a href="/Food/Delete?foodid=@item.AlimentoID" style="color:white;">Eliminar</a>
            </span>
            <span class="badge">
                <a href="/Food/Edit?foodid=@item.AlimentoID" style="color:white;">Editar</a>
            </span>
            <div>
                <label style="font-size:large">@item.Nombre</label><br />
                <label style="font-size:small">@item.Grupo.Nombre</label>
            </div>
            @*<a href="/Group/Get?groupid=@item.GrupoID" >@item.Nombre</a>*@
        </li>
    }
</ul>