@{
    ViewBag.Title = "Create";
    Layout = "~/Views/MainLayout.cshtml";
}
<h3>Nuevo Grupo de Alimentos</h3>
<form id="groupform" method="post" action="/Group/Create">
    <table>
        <tr>
            <td>Nombre</td>
            <td style="width:500px;">
                <input type="text" name="groupdata.Nombre" class="form-control" placeholder="Ej. Verduras"  />
            </td>
        </tr>
        <tr>
            <td>Recomendacion Maxima</td>
            <td>
                <input type="number" min="1" name="groupdata.RecomendacionMaxima" class="form-control" value="2" />
            </td>
        </tr>
        <tr>
            <td>Recomendacion Minima</td>
            <td>
                <input type="number" min="1" name="groupdata.RecomendacionMinima" class="form-control" value="1" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Guardar" class="btn btn-default alineacion" />
            </td>
        </tr>
    </table>
</form>
