@model MyGym.Data.Entities.Grupo
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/MainLayout.cshtml";
}
<form id="groupform" method="post" action="/Group/Edit?groupid=@Model.GrupoID">
    <table>
        <tr>
            <td>Nombre</td>
            <td>
                <input type="text" name="groupdata.Nombre" value="@Model.Nombre" />
            </td>
        </tr>
        <tr>
            <td>Recomendacion Maxima</td>
            <td>
                <input type="number" name="groupdata.RecomendacionMaxima" value="@Model.RecomendacionMaxima" />
            </td>
        </tr>
        <tr>
            <td>Recomendacion Minima</td>
            <td>
                <input type="number" name="groupdata.RecomendacionMinima" value="@Model.RecomendacionMinima" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Guardar" class="btn btn-default" />
            </td>
        </tr>
    </table>
</form>
